# Local Cloudflare Worker secrets — copy to .dev.vars (gitignored).
# TOKEN_PRIVATE_JWK is the Ed25519 private JWK. The public `x` must match
# LicenseToken.ED25519_PUBLIC_KEY_B64. THIS EXAMPLE KEYPAIR IS PUBLIC IN GIT —
# generate a production pair with `node scripts/gen-license-keys.mjs` before deploy.
ADMIN_SECRET=change-me-local-admin
TOKEN_PRIVATE_JWK={"kty":"OKP","crv":"Ed25519","d":"AecpNXQnt_omUgK9gH5fBrjrJLYlwO9OAlLk_K2-eYM","x":"6dGojlBqZ3Qt_roZRBxMRwPLEZfZLgak1iZ8mToDQx8"}
